//
   Created by jeremydejno on 5/8/17.
doctype html
form#time-line-input-form.container.form-group
  .row
    .col-lg-6.col-md-6.col-sm-6
      .form_datetime.input-group.date
            input.form-control(type="text", required, readonly, placeholder="event date...")
            span.input-group-addon
              span.glyphicon.glyphicon-th
    .col-lg-6.col-md-6.col-sm-6
      .input-group
        input.form-control(#title, type="text",
          placeholder="your event...",
          required,
          (keyup.enter)="submitEvent(title.value)")
        span.input-group-addon(style={"border-left": "1px solid #ccc"}) Transpose&nbsp;&nbsp;
          input(type="checkbox",
          [checked]="transpose",
          (change)="transpose = !transpose")
#linear-time-line.container-fluid
  .row
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      app-linear-time-line([data]="data", [transpose]="transpose", [chartHeight]="500", *ngIf="data")
.container-fluid
    #description.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-12.col-xs-12(style="padding-top: 0; padding-bottom: 100px;")
      .page-header(style="margin-top: 0")
        h2.pull-left D3 Linear Time Line of Life
          small| &nbsp; Lifeline
      .clearfix
      #details
        p Using
          a(href="https://d3js.org/", target="_blank")  D3.JS
          | , which manipulates and "drives" SVG elements via data, the above graph
          |  displays life events overtime. Each event has an associated:
        ul
          li Date
          li Title
          li Category
          li Tone
            i|
              small &nbsp;(or feeling about the event)
        p The graph is interactive with hover and dragging functionality. Depending on the selection of "Transpose,"
          |  the colors will represent either the Category or Tone of the event
          small|
            i &nbsp;(hover to see what the color corresponds to).
        h4 What can it do?
        ul
          li
            strong| Clicking
            |  - Changes the current color of the circle and the corresponding z-axis value, which
            |  could be either Category or Tone based on the "Transpose" state.
          li
            strong| Dragging & Drop
            |  - Allows you to move the Date on the x-axis and switch between y-axis values, which again
            |  could either be Category or Tone based on the "Transpose" state.
          li
            strong| Addition
            |  - Using the input fields at the top, you may add events to the graph with the specified title
            |  and date. For a specific Tone or Category use clicking and dragging once it appears on the graph.
          li
            strong| Deletion
            |  - Once you have initiated a drag, a "Delete Bucket" will appear in the top right corner, which
            |  you may drag to in order to remove the data point from the graph.
        p *note: Keep a watch on the subtle "Tracker Dot" that shows where your circle will "snap" too after releasing a drag.
      h3 The Code
      p Check out the source code below. It was written using Typescript within the Angular 2 framework. This allowed me to test out using the D3 typings.
      .text-center
        a.bounce((click)="toggleCodeExpand($event)", fragment='code'
                , attr.data-tooltip-content="{{tooltipContent}}")
          span.glyphicon([ngClass]="{'glyphicon-chevron-down': codeExpand === 'collapsed'," +
          "'glyphicon-chevron-up': codeExpand === 'expanded'}")
      #code
        include ./lifeline-code.html
