<!-- HTML generated using hilite.me --><div [@expand]="codeExpand" style="background: #ffffff; overflow:auto;width:auto;border:solid gray;border-width: 0 0 .1em .3em;padding:.2em .6em;"><table style="width: 100%"><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #000080; font-weight: bold">import</span> &#123;Component, ViewEncapsulation, Input, OnChanges, SimpleChanges, ElementRef&#125; from <span style="color: #0000FF">&#39;@angular/core&#39;</span>;
<span style="color: #000080; font-weight: bold">import</span> * <span style="color: #000080; font-weight: bold">as</span> d3 from <span style="color: #0000FF">&#39;d3&#39;</span>;
<span style="color: #000080; font-weight: bold">import</span> &#123;LinearTimeLineData, LinearTimeLineCategories, LinearTimeLineTone&#125; from <span style="color: #0000FF">&quot;./lifeline.service&quot;</span>;

<span style="color: #a61717; background-color: #e3d2d2">@</span>Component(&#123;
  selector: <span style="color: #0000FF">&#39;app-linear-time-line&#39;</span>,
  templateUrl: <span style="color: #0000FF">&#39;linear-time-line.component.html&#39;</span>,
  styleUrls: [<span style="color: #0000FF">&#39;linear-time-line.component.scss&#39;</span>],
  encapsulation: <span style="color: #000080; font-weight: bold">ViewEncapsulation.None</span>
&#125;)
<span style="color: #000080; font-weight: bold">export</span> <span style="color: #000080; font-weight: bold">class</span> LinearTimeLineComponent <span style="color: #000080; font-weight: bold">implements</span> OnChanges &#123;

  <span style="color: #008800; font-style: italic">//#region public properties</span>

  <span style="color: #000080; font-weight: bold">public</span> selection;
  <span style="color: #000080; font-weight: bold">public</span> categories: <span style="color: #000080; font-weight: bold">string</span>[] = [];
  <span style="color: #000080; font-weight: bold">public</span> tones: <span style="color: #000080; font-weight: bold">string</span>[] = [];
  <span style="color: #a61717; background-color: #e3d2d2">@</span>Input() data: <span style="color: #000080; font-weight: bold">LinearTimeLineData</span>[];
  <span style="color: #a61717; background-color: #e3d2d2">@</span>Input() transpose: <span style="color: #000080; font-weight: bold">boolean</span>;
  <span style="color: #a61717; background-color: #e3d2d2">@</span>Input() chartHeight: <span style="color: #000080; font-weight: bold">number</span> = <span style="color: #0000FF">500</span>; <span style="color: #008800; font-style: italic">//default to 500</span>

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region private properties</span>

  <span style="color: #000080; font-weight: bold">private</span> _svg;
  <span style="color: #000080; font-weight: bold">private</span> _dataG;
  <span style="color: #000080; font-weight: bold">private</span> _nodes;
  <span style="color: #000080; font-weight: bold">private</span> _xAxisG;
  <span style="color: #000080; font-weight: bold">private</span> _yAxisG;

  <span style="color: #000080; font-weight: bold">private</span> _deleteBucket;
  <span style="color: #000080; font-weight: bold">private</span> _deleteBucketContainer;
  <span style="color: #000080; font-weight: bold">private</span> _tooltip;
  <span style="color: #000080; font-weight: bold">private</span> _trackerDot;

  <span style="color: #008800; font-style: italic">//#region d3 properties</span>

  <span style="color: #000080; font-weight: bold">private</span> x; <span style="color: #008800; font-style: italic">//x domain - horizontal [dateTime]</span>
  <span style="color: #000080; font-weight: bold">private</span> y; <span style="color: #008800; font-style: italic">//y domain - vertical [category]</span>
  <span style="color: #000080; font-weight: bold">private</span> z; <span style="color: #008800; font-style: italic">//z domain - colors</span>

  <span style="color: #000080; font-weight: bold">private</span> timeFormat;
  <span style="color: #000080; font-weight: bold">private</span> fullTimeFormat;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region UI properties</span>

  <span style="color: #000080; font-weight: bold">private</span> padding = &#123;left: <span style="color: #000080; font-weight: bold">150</span>, top: <span style="color: #000080; font-weight: bold">50</span>, right: <span style="color: #000080; font-weight: bold">0</span>, bottom: <span style="color: #000080; font-weight: bold">0</span>&#125;;
  <span style="color: #000080; font-weight: bold">private</span> svgYOffset;
  <span style="color: #000080; font-weight: bold">private</span> height;
  <span style="color: #000080; font-weight: bold">private</span> width;
  <span style="color: #000080; font-weight: bold">private</span> containerHeight;
  <span style="color: #000080; font-weight: bold">private</span> containerWidth;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region private flags</span>

  <span style="color: #000080; font-weight: bold">private</span> _initiated: <span style="color: #000080; font-weight: bold">boolean</span> = <span style="color: #000080; font-weight: bold">false</span>;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #000080; font-weight: bold">constructor</span>(<span style="color: #000080; font-weight: bold">private</span> elRef: <span style="color: #000080; font-weight: bold">ElementRef</span>) &#123;&#125;

  ngOnChanges(changes: <span style="color: #000080; font-weight: bold">SimpleChanges</span>) &#123;

    <span style="color: #000080; font-weight: bold">this</span>.load(<span style="color: #000080; font-weight: bold">this</span>.data <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineData[]);

  &#125;

  <span style="color: #008800; font-style: italic">//#region public members</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * load data into the graph</span>
<span style="color: #008800; font-style: italic">   * @param &#123;LinearTimeLineData[]&#125; data - data to be loaded into graph</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">public</span> load(data: <span style="color: #000080; font-weight: bold">LinearTimeLineData</span>[]) &#123;

    <span style="color: #000080; font-weight: bold">this</span>.data = data || [];
    <span style="color: #000080; font-weight: bold">this</span>._load();
    <span style="color: #000080; font-weight: bold">this</span>._initiated = <span style="color: #000080; font-weight: bold">true</span>;

  &#125;


  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region private members</span>

  <span style="color: #000080; font-weight: bold">private</span> _load() &#123;
    <span style="color: #000080; font-weight: bold">this</span>.init();
    <span style="color: #000080; font-weight: bold">this</span>.draw();
    <span style="color: #000080; font-weight: bold">this</span>.update();

  &#125;

  <span style="color: #008800; font-style: italic">//#region init</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Initiate graph formats, scales, and elements. Will only add elements on first call.</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> init()  &#123;

    <span style="color: #000080; font-weight: bold">if</span>(!<span style="color: #000080; font-weight: bold">this</span>._initiated) &#123;

      <span style="color: #000080; font-weight: bold">this</span>.createMainElements();
      window.addEventListener(<span style="color: #0000FF">&#39;resize&#39;</span>, () =&gt; <span style="color: #000080; font-weight: bold">this</span>._load());

    &#125;

    <span style="color: #000080; font-weight: bold">this</span>.initFormats();
    <span style="color: #000080; font-weight: bold">this</span>.initScales(<span style="color: #000080; font-weight: bold">this</span>.padding);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Initiate the formats used by the graph. dateTime formats and category/tone arrays for axes</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> initFormats() &#123;
    <span style="color: #008800; font-style: italic">//global time formatting</span>
    <span style="color: #000080; font-weight: bold">this</span>.timeFormat = d3.timeFormat(<span style="color: #0000FF">&quot;%m/%y&quot;</span>);
    <span style="color: #000080; font-weight: bold">this</span>.fullTimeFormat = d3.timeFormat(<span style="color: #0000FF">&quot;%m/%d/%Y&quot;</span>);

    <span style="color: #008800; font-style: italic">//grab array of category and tone values for y/z scales</span>
    <span style="color: #000080; font-weight: bold">this</span>.categories = [];
    <span style="color: #000080; font-weight: bold">this</span>.tones =[];
    <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>.data !== <span style="color: #000080; font-weight: bold">undefined</span> &amp;&amp; <span style="color: #000080; font-weight: bold">this</span>.data !== <span style="color: #000080; font-weight: bold">null</span>) &#123;
      <span style="color: #000080; font-weight: bold">this</span>.data.forEach(d =&gt; &#123;
        <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>.categories.indexOf(d.category) &lt; <span style="color: #0000FF">0</span>) &#123;
          <span style="color: #000080; font-weight: bold">this</span>.categories.push(d.category)
        &#125;
        <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>.tones.indexOf(d.tone) &lt; <span style="color: #0000FF">0</span>) &#123;
          <span style="color: #000080; font-weight: bold">this</span>.tones.push(d.tone)
        &#125;
      &#125;);
    &#125;


  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Creates the main svg element and tooltip</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> createMainElements() &#123;

    <span style="color: #008800; font-style: italic">//select the containing host element to append svg elements too</span>
    <span style="color: #000080; font-weight: bold">this</span>.selection = d3.select(<span style="color: #0000FF">&quot;#linear-time-line-chart&quot;</span>);

    <span style="color: #008800; font-style: italic">//add main svg container to append d3 elements</span>
    <span style="color: #000080; font-weight: bold">this</span>._svg = <span style="color: #000080; font-weight: bold">this</span>.selection.append(<span style="color: #0000FF">&quot;svg&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;svg-container&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;height&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.chartHeight)
      .attr(<span style="color: #0000FF">&quot;width&quot;</span>, <span style="color: #0000FF">&quot;100%&quot;</span>);

    <span style="color: #008800; font-style: italic">//get actual heights and widths from svg container and calculate padding</span>
    <span style="color: #000080; font-weight: bold">this</span>.height = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientHeight - <span style="color: #000080; font-weight: bold">this</span>.padding.top - <span style="color: #000080; font-weight: bold">this</span>.padding.bottom;
    <span style="color: #000080; font-weight: bold">this</span>.width = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientWidth - <span style="color: #000080; font-weight: bold">this</span>.padding.left - <span style="color: #000080; font-weight: bold">this</span>.padding.right;
    <span style="color: #000080; font-weight: bold">this</span>.svgYOffset = <span style="color: #000080; font-weight: bold">this</span>.elRef.nativeElement.offsetTop;

    <span style="color: #008800; font-style: italic">//create tooltip for hovering</span>
    <span style="color: #000080; font-weight: bold">this</span>._tooltip = d3.select(<span style="color: #0000FF">&quot;body&quot;</span>).append(<span style="color: #0000FF">&quot;div&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;tooltip timeline&quot;</span>)
      .style(<span style="color: #0000FF">&quot;display&quot;</span>, <span style="color: #0000FF">&quot;none&quot;</span>)
      .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);

    <span style="color: #008800; font-style: italic">//create delete bucket for dragging delete</span>
    <span style="color: #000080; font-weight: bold">this</span>._deleteBucketContainer = <span style="color: #000080; font-weight: bold">this</span>._svg.append(<span style="color: #0000FF">&quot;g&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>translate($&#123;<span style="color: #000080; font-weight: bold">this</span>.width&#125;, <span style="color: #0000FF">0</span>)<span style="color: #a61717; background-color: #e3d2d2">`</span>);

    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket = <span style="color: #000080; font-weight: bold">this</span>._deleteBucketContainer
      .append(<span style="color: #0000FF">&quot;g&quot;</span>)
      .style(<span style="color: #0000FF">&quot;fill-opacity&quot;</span>, <span style="color: #0000FF">0</span>)
      .style(<span style="color: #0000FF">&quot;stroke-opacity&quot;</span>, <span style="color: #0000FF">0</span>);


    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.append(<span style="color: #0000FF">&quot;rect&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;rect delete-bucket&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;height&quot;</span>, <span style="color: #0000FF">&quot;50&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;width&quot;</span>, <span style="color: #0000FF">&quot;50&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;ry&quot;</span>, <span style="color: #0000FF">2</span>)
      .attr(<span style="color: #0000FF">&quot;rx&quot;</span>, <span style="color: #0000FF">30</span>);


    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.append(<span style="color: #0000FF">&quot;text&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;text delete-bucket&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;y&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.select(<span style="color: #0000FF">&quot;rect&quot;</span>).attr(<span style="color: #0000FF">&quot;height&quot;</span>) / <span style="color: #0000FF">2</span>)
      .attr(<span style="color: #0000FF">&quot;x&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.select(<span style="color: #0000FF">&quot;rect&quot;</span>).attr(<span style="color: #0000FF">&quot;width&quot;</span>) / <span style="color: #0000FF">2</span>)
      .text(<span style="color: #0000FF">&quot;Delete&quot;</span>).raise();

    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.transition().duration(<span style="color: #0000FF">1000</span>).attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #0000FF">&quot;translate(0,0)&quot;</span>)

    <span style="color: #000080; font-weight: bold">this</span>._trackerDot = <span style="color: #000080; font-weight: bold">this</span>._svg.append(<span style="color: #0000FF">&#39;circle&#39;</span>)
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;tracker timeline&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;r&quot;</span>, <span style="color: #0000FF">5</span>)
      .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> initScales(padding: &#123;top: <span style="color: #000080; font-weight: bold">number</span>, left: <span style="color: #000080; font-weight: bold">number</span>, bottom: <span style="color: #000080; font-weight: bold">number</span>, right: <span style="color: #000080; font-weight: bold">number</span>&#125;) &#123;

    <span style="color: #008800; font-style: italic">//x domain in time scale</span>
    <span style="color: #000080; font-weight: bold">this</span>.x = d3.scaleTime().range([padding.left, <span style="color: #000080; font-weight: bold">this</span>.width]).domain(<span style="color: #000080; font-weight: bold">this</span>.data ? d3.extent(<span style="color: #000080; font-weight: bold">this</span>.data, d =&gt; d.dateTime) : [<span style="color: #0000FF">0</span>, <span style="color: #0000FF">0</span>]);

    <span style="color: #008800; font-style: italic">//y domain in ordinal scale for life categories</span>
    <span style="color: #000080; font-weight: bold">this</span>.y = d3.scaleOrdinal().range(d3.range(padding.top, <span style="color: #000080; font-weight: bold">this</span>.height, <span style="color: #000080; font-weight: bold">this</span>.height / (<span style="color: #000080; font-weight: bold">this</span>.categories.length || <span style="color: #0000FF">1</span>))).domain(<span style="color: #000080; font-weight: bold">this</span>.categories);

    <span style="color: #008800; font-style: italic">//z domain in ordinal scale using colors for tone of life events</span>
    <span style="color: #000080; font-weight: bold">this</span>.z = d3.scaleOrdinal().range(d3.schemeCategory10).domain(<span style="color: #000080; font-weight: bold">this</span>.tones);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Calculate the axes scales from this.data</span>
<span style="color: #008800; font-style: italic">   * @param &#123;object&#125; padding - object containing all four padding values for the graph</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> updateScales(padding: &#123;top: <span style="color: #000080; font-weight: bold">number</span>, left: <span style="color: #000080; font-weight: bold">number</span>, bottom: <span style="color: #000080; font-weight: bold">number</span>, right: <span style="color: #000080; font-weight: bold">number</span>&#125;) &#123;

    <span style="color: #000080; font-weight: bold">let</span> [yDomainData, zDomainData] = <span style="color: #000080; font-weight: bold">this</span>.transpose ? [<span style="color: #000080; font-weight: bold">this</span>.tones, <span style="color: #000080; font-weight: bold">this</span>.categories] : [<span style="color: #000080; font-weight: bold">this</span>.categories, <span style="color: #000080; font-weight: bold">this</span>.tones];

    <span style="color: #000080; font-weight: bold">this</span>.x.domain(<span style="color: #000080; font-weight: bold">this</span>.data ? d3.extent(<span style="color: #000080; font-weight: bold">this</span>.data, d =&gt; d.dateTime) : [<span style="color: #0000FF">0</span>, <span style="color: #0000FF">0</span>]);

    <span style="color: #000080; font-weight: bold">this</span>.y.range(d3.range(padding.top, <span style="color: #000080; font-weight: bold">this</span>.height, <span style="color: #000080; font-weight: bold">this</span>.height / (yDomainData.length || <span style="color: #0000FF">1</span>))).domain(yDomainData);

    <span style="color: #000080; font-weight: bold">this</span>.z.domain(zDomainData);

  &#125;

  <span style="color: #008800; font-style: italic">//#endregion init</span>

  <span style="color: #008800; font-style: italic">//#region draw</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Draw axes and data</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> draw() &#123;

    <span style="color: #008800; font-style: italic">//get actual heights and widths from container and calculate padding on draw</span>
    <span style="color: #000080; font-weight: bold">this</span>.height = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientHeight - <span style="color: #000080; font-weight: bold">this</span>.padding.top - <span style="color: #000080; font-weight: bold">this</span>.padding.bottom;
    <span style="color: #000080; font-weight: bold">this</span>.width = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientWidth - <span style="color: #000080; font-weight: bold">this</span>.padding.left - <span style="color: #000080; font-weight: bold">this</span>.padding.right;

    <span style="color: #000080; font-weight: bold">this</span>.updateScales(<span style="color: #000080; font-weight: bold">this</span>.padding);
    <span style="color: #000080; font-weight: bold">this</span>.drawXAxis();
    <span style="color: #000080; font-weight: bold">this</span>.drawYAxis();
    <span style="color: #000080; font-weight: bold">this</span>.drawGroupContainer();
    <span style="color: #000080; font-weight: bold">this</span>.resize();

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> resize() &#123;

    <span style="color: #000080; font-weight: bold">this</span>.containerHeight = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientHeight;
    <span style="color: #000080; font-weight: bold">this</span>.containerWidth = <span style="color: #000080; font-weight: bold">this</span>.selection.node().clientWidth;

    <span style="color: #008800; font-style: italic">//console.log(`Height: $&#123;this.containerHeight&#125; Width: $&#123;this.containerWidth&#125;`);</span>
    <span style="color: #008800; font-style: italic">//add main svg container to append d3 elements</span>
    <span style="color: #000080; font-weight: bold">this</span>._svg
      .attr(<span style="color: #0000FF">&quot;height&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.containerHeight)
      .attr(<span style="color: #0000FF">&quot;width&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.containerWidth);

    <span style="color: #000080; font-weight: bold">this</span>._deleteBucketContainer
      .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>translate($&#123;<span style="color: #000080; font-weight: bold">this</span>.width&#125;, <span style="color: #0000FF">0</span>)<span style="color: #a61717; background-color: #e3d2d2">`</span>)
  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Draw the xAxis and cache in this._xAxis</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> drawXAxis() &#123;

    <span style="color: #000080; font-weight: bold">if</span>(!<span style="color: #000080; font-weight: bold">this</span>._initiated) &#123;
      <span style="color: #000080; font-weight: bold">this</span>._xAxisG = <span style="color: #000080; font-weight: bold">this</span>._svg.append(<span style="color: #0000FF">&quot;g&quot;</span>);
    &#125;
    <span style="color: #000080; font-weight: bold">let</span> ticks = <span style="color: #000080; font-weight: bold">this</span>.width &gt; <span style="color: #0000FF">700</span> ? 10 : <span style="color: #000080; font-weight: bold">this.width</span> &gt; <span style="color: #0000FF">550</span> ? 5 : <span style="color: #000080; font-weight: bold">3</span>;


    <span style="color: #000080; font-weight: bold">let</span> axis = d3.axisBottom(<span style="color: #000080; font-weight: bold">this</span>.x)
      .ticks(ticks)
      .tickFormat(<span style="color: #000080; font-weight: bold">this</span>.timeFormat)
      .tickSize(<span style="color: #0000FF">10</span>);

    <span style="color: #000080; font-weight: bold">this</span>._xAxisG
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;x axis timeline&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>translate(<span style="color: #0000FF">0</span>, $&#123;<span style="color: #000080; font-weight: bold">this</span>.height&#125;)<span style="color: #a61717; background-color: #e3d2d2">`</span>)
      .transition()
      .duration(<span style="color: #0000FF">750</span>)
      .call(axis);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Draw yAxis and cache in this._yAxis</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> drawYAxis() &#123;

    <span style="color: #000080; font-weight: bold">if</span>(!<span style="color: #000080; font-weight: bold">this</span>._initiated) &#123;
      <span style="color: #000080; font-weight: bold">this</span>._yAxisG = <span style="color: #000080; font-weight: bold">this</span>._svg.append(<span style="color: #0000FF">&quot;g&quot;</span>);
    &#125;

    <span style="color: #000080; font-weight: bold">let</span> axis = d3.axisLeft(<span style="color: #000080; font-weight: bold">this</span>.y);

    <span style="color: #000080; font-weight: bold">this</span>._yAxisG
      .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;y axis timeline&quot;</span>)
      .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>translate($&#123;<span style="color: #000080; font-weight: bold">this</span>.padding.left&#125;, <span style="color: #0000FF">0</span>)<span style="color: #a61717; background-color: #e3d2d2">`</span>)
      .transition()
      .duration(<span style="color: #0000FF">750</span>)
      .call(axis);

    <span style="color: #000080; font-weight: bold">this</span>.updateScales(<span style="color: #000080; font-weight: bold">this</span>.padding);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Draw main data group containers. Only created on first call (!this._initiated)</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> drawGroupContainer() &#123;

    <span style="color: #000080; font-weight: bold">if</span>(!<span style="color: #000080; font-weight: bold">this</span>._initiated) &#123;

      <span style="color: #000080; font-weight: bold">this</span>._dataG = <span style="color: #000080; font-weight: bold">this</span>._svg.append(<span style="color: #0000FF">&quot;g&quot;</span>);
    &#125;

  &#125;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region update</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Update data in graph from this.data</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> update() &#123;

    <span style="color: #000080; font-weight: bold">this</span>.updateCircles();

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Update circle/nodes in graph with this.data</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> updateCircles() &#123;

    <span style="color: #008800; font-style: italic">//add data to nodes</span>
    <span style="color: #000080; font-weight: bold">this</span>._nodes = <span style="color: #000080; font-weight: bold">this</span>._dataG.selectAll(<span style="color: #0000FF">&quot;.life-point&quot;</span>)
      .data(<span style="color: #000080; font-weight: bold">this</span>.data);

    <span style="color: #000080; font-weight: bold">let</span> circles;
    <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>.data) &#123;
      <span style="color: #008800; font-style: italic">//merge the new and old nodes together and cache</span>
      circles = <span style="color: #000080; font-weight: bold">this</span>._nodes
        .enter().append(<span style="color: #0000FF">&quot;circle&quot;</span>)
        .attr(<span style="color: #0000FF">&quot;class&quot;</span>, <span style="color: #0000FF">&quot;life-point active&quot;</span>)
        .attr(<span style="color: #0000FF">&quot;r&quot;</span>, <span style="color: #0000FF">5</span>)
        .style(<span style="color: #0000FF">&quot;stroke&quot;</span>, <span style="color: #0000FF">&quot;grey&quot;</span>)
        .style(<span style="color: #0000FF">&quot;fill-opacity&quot;</span>, .<span style="color: #0000FF">5</span>)
        .attr(<span style="color: #0000FF">&quot;cx&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.width / <span style="color: #0000FF">2</span>)
        .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.height / <span style="color: #0000FF">2</span>)
        .merge(<span style="color: #000080; font-weight: bold">this</span>._nodes)
        .on(<span style="color: #0000FF">&quot;mouseover&quot;</span>, d =&gt; <span style="color: #000080; font-weight: bold">this</span>.circleOnEventHandler(d))
        .on(<span style="color: #0000FF">&quot;mouseout&quot;</span>, d =&gt; <span style="color: #000080; font-weight: bold">this</span>.circleOffEventHandler(d))
        .on(<span style="color: #0000FF">&quot;click&quot;</span>, d =&gt; <span style="color: #000080; font-weight: bold">this</span>.circleClickEventHandler(d))
        .call(d3.drag()
          .on(<span style="color: #0000FF">&quot;start&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.dragStarted())
          .on(<span style="color: #0000FF">&quot;drag&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.dragging())
          .on(<span style="color: #0000FF">&quot;end&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.dragEnded())
        );

    &#125;

    <span style="color: #000080; font-weight: bold">this</span>.transitionCircles(circles, <span style="color: #000080; font-weight: bold">this</span>._nodes.exit());


  &#125;

  <span style="color: #008800; font-style: italic">//#region transitions</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Execute transitions for entering and exiting data elements</span>
<span style="color: #008800; font-style: italic">   * @param enterCircles - new data elements entering the data group</span>
<span style="color: #008800; font-style: italic">   * @param exitCircles - elements to be removed from data group (no more data associated with them)</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> transitionCircles(enterCircles, exitCircles) &#123;

    <span style="color: #000080; font-weight: bold">this</span>.enterCircles(enterCircles);
    <span style="color: #000080; font-weight: bold">this</span>.exitCircles(exitCircles);

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> enterCircles(circles) &#123;

    circles.transition()
      .duration(<span style="color: #0000FF">500</span>)
      .delay(d =&gt; <span style="color: #000080; font-weight: bold">this</span>.y(<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.tone <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineTone : <span style="color: #000080; font-weight: bold">d.category</span> <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineCategories) * <span style="color: #0000FF">2</span>)
      .style(<span style="color: #0000FF">&quot;fill-opacity&quot;</span>, <span style="color: #0000FF">0</span>)
      .attr(<span style="color: #0000FF">&quot;cx&quot;</span>, d =&gt; <span style="color: #000080; font-weight: bold">this</span>.x(d.dateTime <span style="color: #000080; font-weight: bold">as</span> Date))
      .transition()
      .duration(<span style="color: #0000FF">500</span>)
      .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, d  =&gt; <span style="color: #000080; font-weight: bold">this</span>.y(<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.tone <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineTone : <span style="color: #000080; font-weight: bold">d.category</span> <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineCategories))
      .style(<span style="color: #0000FF">&quot;stroke&quot;</span>, d =&gt; <span style="color: #000080; font-weight: bold">this</span>.z(<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.category <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineCategories : <span style="color: #000080; font-weight: bold">d.tone</span> <span style="color: #000080; font-weight: bold">as</span> LinearTimeLineTone));

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> exitCircles(circles) &#123;

    circles.transition()
      .duration(<span style="color: #0000FF">1000</span>)
      .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.height)
      .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>)
      .remove()

  &#125;


  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region event handlers</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Show tooltip on mouseover event</span>
<span style="color: #008800; font-style: italic">   * @param d - datum</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> circleOnEventHandler(d) &#123;

    <span style="color: #000080; font-weight: bold">this</span>._tooltip.transition()
      .duration(<span style="color: #0000FF">200</span>)
      .style(<span style="color: #0000FF">&quot;display&quot;</span>, <span style="color: #0000FF">&quot;block&quot;</span>)
      .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, .<span style="color: #0000FF">7</span>);

    <span style="color: #000080; font-weight: bold">this</span>.updateTooltip(d, [d3.event.pageX, d3.event.pageY]);

    d3.select(d3.event.currentTarget).attr(<span style="color: #0000FF">&quot;r&quot;</span>, <span style="color: #0000FF">10</span>);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Hide tooltip on mouseoff event</span>
<span style="color: #008800; font-style: italic">   * @param d -  datum</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> circleOffEventHandler(d) &#123;

    <span style="color: #000080; font-weight: bold">this</span>._tooltip.transition()
      .duration(<span style="color: #0000FF">200</span>)
      .style(<span style="color: #0000FF">&quot;display&quot;</span>, <span style="color: #0000FF">&quot;none&quot;</span>)
      .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);

    d3.select(d3.event.currentTarget).attr(<span style="color: #0000FF">&quot;r&quot;</span>, <span style="color: #0000FF">5</span>);

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Change color and zDomain value for a click event on a circle</span>
<span style="color: #008800; font-style: italic">   * @param d</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> circleClickEventHandler(d) &#123;

    <span style="color: #000080; font-weight: bold">let</span> nextToneIndex = <span style="color: #000080; font-weight: bold">this</span>.tones.lastIndexOf(d.tone) + <span style="color: #0000FF">1</span>,
      nextCatIndex = <span style="color: #000080; font-weight: bold">this</span>.categories.lastIndexOf(d.category) + <span style="color: #0000FF">1</span>;
    <span style="color: #000080; font-weight: bold">if</span>(nextToneIndex === <span style="color: #000080; font-weight: bold">this</span>.tones.length) &#123;
      nextToneIndex = <span style="color: #0000FF">0</span>;
    &#125;
    <span style="color: #000080; font-weight: bold">if</span>(nextCatIndex === <span style="color: #000080; font-weight: bold">this</span>.categories.length)&#123;
      nextCatIndex = <span style="color: #0000FF">0</span>;
    &#125;

    d3.select(d3.event.currentTarget)
      .style(<span style="color: #0000FF">&quot;stroke&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.z(<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.category = <span style="color: #000080; font-weight: bold">this</span>.categories[nextCatIndex] : d.tone = <span style="color: #000080; font-weight: bold">this</span>.tones[nextToneIndex]));
    <span style="color: #000080; font-weight: bold">this</span>.updateTooltip(d, [d3.event.pageX, d3.event.pageY])

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Update tooltip position and display data</span>
<span style="color: #008800; font-style: italic">   * @param d - datum</span>
<span style="color: #008800; font-style: italic">   * @param coords - x and y coordinates for tooltip position</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> updateTooltip(d, coords: <span style="color: #000080; font-weight: bold">number</span>[]) &#123;

    <span style="color: #000080; font-weight: bold">let</span> [x, y] = coords;

    <span style="color: #000080; font-weight: bold">this</span>._tooltip.html(<span style="color: #a61717; background-color: #e3d2d2">`</span>$&#123;d.title&#125;&lt;br /&gt;$&#123;<span style="color: #000080; font-weight: bold">this</span>.fullTimeFormat(d.dateTime)&#125;&lt;br /&gt;$&#123;<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.category : <span style="color: #000080; font-weight: bold">d.tone</span>&#125;<span style="color: #a61717; background-color: #e3d2d2">`</span>)
      .style(<span style="color: #0000FF">&quot;display&quot;</span>, <span style="color: #0000FF">&quot;block&quot;</span>)
      .style(<span style="color: #0000FF">&quot;left&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>$&#123;x - ( <span style="color: #000080; font-weight: bold">this</span>._tooltip.node().clientWidth / <span style="color: #0000FF">2</span>)&#125;px<span style="color: #a61717; background-color: #e3d2d2">`</span>)
      .style(<span style="color: #0000FF">&quot;top&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>$&#123;y + <span style="color: #0000FF">20</span>&#125;px<span style="color: #a61717; background-color: #e3d2d2">`</span>)
      .style(<span style="color: #0000FF">&quot;background-color&quot;</span>, <span style="color: #000080; font-weight: bold">this</span>.z(<span style="color: #000080; font-weight: bold">this</span>.transpose ? d.category : <span style="color: #000080; font-weight: bold">d.tone</span>));
  &#125;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region drag event handlers</span>

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Handle dragstart event by raising circle element and adding &#39;active&#39; class</span>
<span style="color: #008800; font-style: italic">   *</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> dragStarted() &#123;
    <span style="color: #000080; font-weight: bold">let</span> self = <span style="color: #000080; font-weight: bold">this</span>;
    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">function</span>(d, i) &#123;
      d3.select(<span style="color: #000080; font-weight: bold">this</span>)
        .raise()
        .classed(<span style="color: #0000FF">&quot;active&quot;</span>, <span style="color: #000080; font-weight: bold">true</span>);

      self._deleteBucket
        .transition()
        .style(<span style="color: #0000FF">&quot;fill-opacity&quot;</span>, .<span style="color: #0000FF">75</span>)
        .style(<span style="color: #0000FF">&quot;stroke-opacity&quot;</span>, .<span style="color: #0000FF">75</span>)
        .transition()
        .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>scale(<span style="color: #0000FF">1.2</span>)<span style="color: #a61717; background-color: #e3d2d2">`</span>)
    &#125;;

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Handle dragging event by updating circle position and tooltip</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> dragging() &#123;
    <span style="color: #008800; font-style: italic">//console.log(`Cat: $&#123;Math.round(d3.event.y / (this.height / this.y.domain().length))&#125;`)</span>
    <span style="color: #000080; font-weight: bold">let</span> self = <span style="color: #000080; font-weight: bold">this</span>;
    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">function</span>(d,i) &#123;
      <span style="color: #000080; font-weight: bold">let</span> select = d3.select(<span style="color: #000080; font-weight: bold">this</span>);
      select
        .attr(<span style="color: #0000FF">&quot;cx&quot;</span>, d3.event.x)
        .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, d3.event.y);

      d.dateTime = self.x.invert(d3.event.x);

      <span style="color: #000080; font-weight: bold">let</span> x = +select.attr(<span style="color: #0000FF">&quot;cx&quot;</span>),
        y = +select.attr(<span style="color: #0000FF">&quot;cy&quot;</span>);

      self.updateTooltip(d, [x, y + self.svgYOffset]);

      <span style="color: #008800; font-style: italic">//use tracker dot to see where lifepoint will snap to</span>
      <span style="color: #000080; font-weight: bold">let</span> [date, cat] = self.snapCategoryHelper([x, y]);
      self._trackerDot
        .style(<span style="color: #0000FF">&quot;opacity&quot;</span>, .<span style="color: #0000FF">7</span>)
        .attr(<span style="color: #0000FF">&quot;cx&quot;</span>, self.x(date))
        .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, self.y(cat));

      <span style="color: #000080; font-weight: bold">if</span>(self.inDeleteBucket([x, y])) &#123;
        self._deleteBucket.selectAll(<span style="color: #0000FF">&quot;rect&quot;</span>)
          .style(<span style="color: #0000FF">&quot;fill&quot;</span>, <span style="color: #0000FF">&quot;red&quot;</span>);
      &#125;<span style="color: #000080; font-weight: bold">else</span> &#123;
        self._deleteBucket.selectAll(<span style="color: #0000FF">&quot;rect&quot;</span>)
          .style(<span style="color: #0000FF">&quot;fill&quot;</span>, <span style="color: #0000FF">&quot;none&quot;</span>);
      &#125;
    &#125;;

  &#125;

  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Handle drag ended event by snapping y position to an yAxis tick and updating circle datum values</span>
<span style="color: #008800; font-style: italic">   * @param d</span>
<span style="color: #008800; font-style: italic">   * @param i</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> dragEnded() &#123;
    <span style="color: #000080; font-weight: bold">let</span> self = <span style="color: #000080; font-weight: bold">this</span>;

    <span style="color: #000080; font-weight: bold">return</span> <span style="color: #000080; font-weight: bold">function</span>(d, i) &#123;

      <span style="color: #000080; font-weight: bold">if</span> (self.dragDelete(i, [d3.event.x, d3.event.y])) <span style="color: #000080; font-weight: bold">return</span>;

      <span style="color: #000080; font-weight: bold">let</span> [x, y] = self.snapCategoryHelper([d3.event.x, d3.event.y]);
      d3.select(<span style="color: #000080; font-weight: bold">this</span>)
        .classed(<span style="color: #0000FF">&quot;active&quot;</span>, <span style="color: #000080; font-weight: bold">false</span>)
        .attr(<span style="color: #0000FF">&quot;cx&quot;</span>, self.x(d.dateTime = x))
        .attr(<span style="color: #0000FF">&quot;cy&quot;</span>, self.y(self.transpose ? d.tone = y : <span style="color: #000080; font-weight: bold">d.category</span> = y));

      self.updateTooltip(d, [d3.event.pageX, self.y(y) + self.svgYOffset]);
      self._trackerDot.style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);
    &#125;;

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> dragDelete(index: <span style="color: #000080; font-weight: bold">number</span>, coords: [<span style="color: #000080; font-weight: bold">number</span>, <span style="color: #000080; font-weight: bold">number</span>]): <span style="color: #000080; font-weight: bold">boolean</span> &#123;

    <span style="color: #000080; font-weight: bold">let</span> ret = <span style="color: #000080; font-weight: bold">false</span>;

    <span style="color: #000080; font-weight: bold">if</span>(<span style="color: #000080; font-weight: bold">this</span>.inDeleteBucket(coords)) &#123;

      <span style="color: #000080; font-weight: bold">this</span>.data.splice(index, <span style="color: #0000FF">1</span>);
      <span style="color: #000080; font-weight: bold">this</span>.load(<span style="color: #000080; font-weight: bold">this</span>.data);
      ret = <span style="color: #000080; font-weight: bold">true</span>;

    &#125;

    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.selectAll(<span style="color: #0000FF">&quot;rect&quot;</span>)
      .style(<span style="color: #0000FF">&quot;fill&quot;</span>, <span style="color: #0000FF">&quot;none&quot;</span>);

    <span style="color: #000080; font-weight: bold">this</span>._deleteBucket
      .transition()
      .style(<span style="color: #0000FF">&quot;fill&quot;</span>, <span style="color: #0000FF">&quot;none&quot;</span>)
      .style(<span style="color: #0000FF">&quot;fill-opacity&quot;</span>, <span style="color: #0000FF">0</span>)
      .style(<span style="color: #0000FF">&quot;stroke-opacity&quot;</span>, <span style="color: #0000FF">0</span>)
      .attr(<span style="color: #0000FF">&quot;transform&quot;</span>, <span style="color: #a61717; background-color: #e3d2d2">`</span>scale(<span style="color: #0000FF">1</span>)<span style="color: #a61717; background-color: #e3d2d2">`</span>);

    <span style="color: #000080; font-weight: bold">this</span>._trackerDot.style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);
    <span style="color: #000080; font-weight: bold">this</span>._tooltip.style(<span style="color: #0000FF">&quot;opacity&quot;</span>, <span style="color: #0000FF">0</span>);

    <span style="color: #000080; font-weight: bold">return</span> ret;

  &#125;

  <span style="color: #000080; font-weight: bold">private</span> inDeleteBucket(coords: [<span style="color: #000080; font-weight: bold">number</span>, <span style="color: #000080; font-weight: bold">number</span>]): <span style="color: #000080; font-weight: bold">boolean</span> &#123;

    <span style="color: #000080; font-weight: bold">let</span> [x, y] = coords,
      x0 = <span style="color: #000080; font-weight: bold">this</span>.width,
      x1 = <span style="color: #000080; font-weight: bold">this</span>.width + +<span style="color: #000080; font-weight: bold">this</span>._deleteBucket.select(<span style="color: #0000FF">&quot;rect&quot;</span>).attr(<span style="color: #0000FF">&quot;width&quot;</span>),
      y0 = <span style="color: #0000FF">0</span>,
      y1 = <span style="color: #000080; font-weight: bold">this</span>._deleteBucket.select(<span style="color: #0000FF">&quot;rect&quot;</span>).attr(<span style="color: #0000FF">&quot;height&quot;</span>);

    <span style="color: #000080; font-weight: bold">return</span> (x &gt; x0 &amp;&amp; x &lt; x1 &amp;&amp; y &lt; y1);

  &#125;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#region helpers</span>
  <span style="color: #008800; font-style: italic">/**</span>
<span style="color: #008800; font-style: italic">   * Return xDomain and yDomain datum values from x and y coordinates</span>
<span style="color: #008800; font-style: italic">   * @param coords - array of x and y coordinates</span>
<span style="color: #008800; font-style: italic">   * @returns &#123;[Date|number|number[]|null,any]&#125;</span>
<span style="color: #008800; font-style: italic">   */</span>
  <span style="color: #000080; font-weight: bold">private</span> snapCategoryHelper(coords: <span style="color: #000080; font-weight: bold">number</span>[]): any[] &#123;
    <span style="color: #000080; font-weight: bold">let</span> [x, y] = coords,
      sectionY = <span style="color: #000080; font-weight: bold">this</span>.height / <span style="color: #000080; font-weight: bold">this</span>.y.domain().length,
      index = (y / sectionY) &gt;= <span style="color: #000080; font-weight: bold">this</span>.y.domain().length ? <span style="color: #000080; font-weight: bold">this</span>.y.domain().length - 1 : <span style="color: #000080; font-weight: bold">Math.round</span>(y / sectionY) - <span style="color: #0000FF">1</span>,
      cat = <span style="color: #000080; font-weight: bold">this</span>.y.domain()[index],
      date = <span style="color: #000080; font-weight: bold">this</span>.x.invert(x);
    <span style="color: #000080; font-weight: bold">return</span> [date, cat]

  &#125;

  <span style="color: #008800; font-style: italic">//#endregion</span>

  <span style="color: #008800; font-style: italic">//#endregion</span>


&#125;
</pre></td></tr></table></div>

