#details p {
  font-size: 1.2em;
}

code {
  white-space: pre;
  display: block;
}

.bounce {

  animation-name: bounce;
  animation-iteration-count: 4;
  animation-duration: .5s;
  animation-direction: alternate;

  :hover {
    cursor: hand;
    animation-name: bounce;
    animation-iteration-count: 2;
    animation-duration: .5s;
    animation-direction: alternate;
  }

}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

//------------------ Media ---/

@media (max-width: 768px){
  pre, code {
    font-size: 10px;
  }
}
