.topography {
  stroke-width: 1px;
}

.region {
  stroke: black;
  stroke-width: 1px;
  fill-opacity: .7;
}

.wi {
  stroke: url(#wi-outline);
  stroke-width: 4px;
  stroke-opacity: .9;
  fill-opacity: 1;
  fill: green;
}
