<svg width="0" height="0">
  <defs>
    <radialGradient id="wi-gradient" cx="50%" cy="50%" r="75%" >
      <stop offset="0%" style="stop-color:rgb(0,74,43);stop-opacity:1" />
      <stop offset="50%" style="stop-color:rgb(0,128,0);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(123,224,132);stop-opacity:1" />
    </radialGradient>
    <radialGradient id="wi-outline" cx="50%" cy="50%" r="75%" >
      <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="54%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(51,51,51);stop-opacity:1" />
    </radialGradient>
    <radialGradient id="usa-gradient" cx="50%" cy="50%" r="75%" >
      <stop offset="0%" style="stop-color:rgb(184,184,184);stop-opacity:1" />
      <stop offset="87%" style="stop-color:rgb(79,79,79);stop-opacity:1" />
      <stop offset="100%" style="stop-color:rgb(79,79,79);stop-opacity:1" />
    </radialGradient>
  </defs>
</svg>
<div class="container-fluid">
  <div class="row">
    <div id="d3-usa-map"></div>
  </div>
</div>

