svg {

  //#region Axes
  .x.axis.timeline {

    text {
      font-size: 1.5em;
    }

    line {

      stroke: none;

    }

  }

  .y.axis.timeline {

    text {
      font-size: 1.5em;
    }

    line {

      stroke: none;

    }

    path {
      stroke: none;
    }

  }

  //endregion

  //#region life-points

  .life-point {
    fill: white;
    stroke-width: 2px;
  }

  .tracker {
    fill: lightgrey;
  }

  //#endregion

  //#region delete-bucket

  .rect.delete-bucket {

    fill: none;
    stroke: grey;
    opacity: .5;
  }

  text.delete-bucket {
    fill: grey;
    font-size: 8px;
    text-anchor: middle;
  }


  //#endregion

}

//#region add-ons

.timeline.tooltip {

  text-align: center;
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 2px;

}

//#endregion


