//
   Created by jeremydejno on 9/30/17.

.post.thumbnail
  .post-img(*ngIf="post.imgUrl")
    a(routerLinkActive="active", [routerLink]="['post', post.id]")
      img.img-thumbnail(src="{{post.imgUrl}}", style="background-image: linear-gradient(to bottom,#485563 0, rgba(61, 73, 84, 0.75) 100%);")
  .post-title-text
    a(routerLinkActive="active", [routerLink]="['post', post.id]")
      h3.title(style="margin-top: 0;") {{post.title}}
    h5.date {{post.date | date: 'longDate'}}
    p.snippet {{post.snippet}}
