@import '../../../../node_modules/bootstrap/less/scss/variables';
//---------------- Post ---/
.post {
  padding: 20px;
  width: 100%;
  background: whitesmoke;
}

.post-title-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  height: 100%;
  width: 75%;
  margin-top: auto;
  margin-right: 0;
  margin-left: auto;
}

.date {
  color: $gray-light;
}


//--------------- Image ---/

.post-img {
  display: inline-block;
  width: 25%;
}

img.img-thumbnail {
  height: 100%;
  width: auto;
}



//----
@media (max-width: 992px) {
  .post-img {
    display: block;
    width: 100%;
  }

  .post-title-text {
    padding-left: 0;
    display: block;
    width: 100%;
  }

  h3 {
    font-size: 18px;
  }



}



