a:hover, a:active, a:focus, .nav .open>a {
  background-color: rgba(255, 255, 255, .3) !important;
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, .7) !important;
}

.glyphicon.icon-bar {
  background-color: lightgrey;
}

@media (max-width: 767px) {
  .nav.navbar-nav {
    background: rgba(255, 255, 255, .7);
  }

  li>a {
    color: #4e566c !important;
  }

}
