<nav #navbar class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <button #collapseableNavbar class="navbar-toggle navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar-collapsed" aria-controls="main-navbar-collapsed" aria-expanded="false" aria-label="Toggle navigation">
      <span class="glyphicon icon-bar"></span>
      <span class="glyphicon icon-bar"></span>
      <span class="glyphicon icon-bar"></span>
    </button>
    <a [routerLink]="['']" routerLinkActive="active"><span class="navbar-brand" [ngStyle]="{'color': cssAttributes.fontColor}"><strong> J</strong> => &#123;Dejno&#125;</span></a>
  </div>
    <div id="main-navbar-collapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" routerLinkActive="active" [routerLink]="['']" [ngStyle]="{'color': cssAttributes.fontColor}">Home</a>
        </li>
        <li>
          <a [routerLink]="['']" fragment="about" [ngStyle]="{'color': cssAttributes.fontColor}">About</a>
        </li>
        <li>
          <a href="#" routerLinkActive="active" [routerLink]="['blog']" [ngStyle]="{'color': cssAttributes.fontColor}"><span class="glyphicons glyphicons-blog"></span>Blog</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [ngStyle]="{'color': cssAttributes.fontColor}">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let project of projects">
              <a [routerLink]="['projects','project',project.projectID]" routerLinkActive="active">{{project.title}}</a>
            </li>
            <li>
              <a *ngIf="moreProjects" routerLink="projects" routerLinkActive="active">View All</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
