//
   Created by jeremydejno on 10/1/17.

#anchorDiv(#anchorDiv="")
.container-fluid
  #description.col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-12.col-xs-12(style="padding-top: 0; padding-bottom: 100px;")
    .page-header(style="margin-top: 0")
      h2.pull-left Logo Animation Service
        small| &nbsp; - D3, Angular 2, SVG
    .clearfix
    #details

    #code(#code="")
