//
   Created by jeremydejno on 9/4/17.
.row
  .container-fluid
    .col-lg-10.col-md-10.col-sm-10.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
      .input-group
        input#bitwiseText.form-control(#expression="", placeholder="Enter your bitwise expression here...", type="text", (keyup.enter)="onEnter(expression.value)")
        span.add-on.input-group-addon enter to evaluate
      .container-fluid.center-block(*ngIf="parsedResults && parsedResults.length > 0")
        .text-center
          h3
            strong Operation Execution
        table.table.table-striped.table-bordered.table-responsive.table-condensed
          thead
            tr
              th Step Count
              th Executed Expression
              th Value
              th BitString
              th Hexadecimal
              th Reduced Expression
          tbody
            tr(*ngFor="let res of parsedResults")
              td {{res.index}}
              td {{res.expression}}
              td {{res.value}}
              td {{res.bitString}}
              td {{res.hexaDecimal}}
              td
                |{{res.leftCurExpression}}
                span(appHighlightExpression="")
                  u {{res.value}}
                |{{res.rightCurExpression}}



