<div>
<p>A walk through of steps for deploying an Angular 2 Website running on Node.js from WebStorm IDE to a DigitalOcean Droplet running Nginx server as a reverse proxy. </p>
<p><b>Requirements:</b></p>
<ol>
  <li>Angular 2 Website to deploy</li>
  <li>DigitalOcean Droplet running Ubuntu with Node installed.</li>
  <li>WebStorm with Remote Server Configuration <i>(or SFTP to remote server)</i></li>
</ol>
<p><b>High Level Steps:</b></p>
<ol>
  <li>Install Nginx</li>
  <li>Build and Deploy from Webstorm (client and server)</li>
  <li>Start/Manage Node Server on Remote</li>
  <li>Configure Nginx with Reverse Proxy Setup</li>
</ol>
<p><br></p>
<p>    The first thing I considered for picking a stack to deploy and serve my website was ease of setup. Were the component parts easy to configure and was there enough supporting documentation online to figure out exactly how to get unstuck if I had reached a sticky spot? And, while I am sure there are more pros and cons for picking a stack than could feasibly fit into a single blog post, I decided on a stack of Angular 2, Node.js, Nginx running on Ubuntu because it was well documented and fit my minimal needs of hosting a personal website (aka. Not much data and mostly static content). I’ll walk through the process I took to achieve a fully deployed production site. It was a compilation of Googling and some of the following articles: <a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-16-04">Running Node.js App Server</a>, <a href="https://www.digitalocean.com/community/tutorials/how-to-install-nginx-on-ubuntu-16-04">Installing Nginx on Ubuntu 16.04</a>, and <a href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-16-04">Initial Setup of Ubuntu 16.04</a>.  </p>
<p>Let’s get started.  </p>
<p><br></p>
<h4><b>Explaining the Stack</b></h4>
<p><b>   </b> To break the stack down by parts, we have the OS (aka. Ubuntu), the web server (aka. Nginx), the app server (aka. Express/Node.js), and our client code (developed using Angular 2 and compiled using WebPack via @angular/cli). </p>
<p></p>
<p>    The OS was largely determined by the availability that was offered by DigitalOcean, and although <a href="https://www.ubuntu.com/">Ubuntu</a> is known for being a popular <i>GUI</i>  linux distro, it comes with many pre-installed modules making it easy to use right after spinning up. Additionally, the breadth of OS modules needed for my server was going to be minimal and any gaps could be installed easily enough.  </p>
<p></p>
<p>   The two main players for Web Servers (serving about 50% of the internet) are Apache and Nginx. This <a href="https://www.digitalocean.com/community/tutorials/apache-vs-nginx-practical-considerations">article</a> goes through the tradeoffs of each extensively, but the key difference I cared about were performance and each platforms respective strengths. The gist: Nginx provides asynchronous, event-driven, non-blocking request handling (a Javascript-like server handling you could say) and is ideal for serving up static content (which was the majority of my content needing serving). Unlike Apache, Nginx does not provide a way to process dynamic data (such as rendering PHP files), which meant my set up would require an additional App Server (aka. Express/Node.js) to serve my content. My Node.js server would sit behind my Nginx server in a reverse proxy set up. This allows my Node server to do what it does best (business logic, rendering, etc.) and my Nginx server to pass on that content to the requesting client.</p>
<p></p>
<p><b>   </b> Finally, the client framework. Deciding on a Javascript Framework is a discussion that is outside the scope of this article, but picking Angular 2 was largely due to popularity and the curiosity of playing around with Typescript. I appreciated the enhanced tooling made possible by a strongly-typed language and the integration with WebStorm was refreshing.  </p>
<p><br></p>
<h4><b>Picking your Preconfigured Droplet </b></h4>
<p>    DigitalOcean provides a suite of initial sever configurations to choose from to start tooling around with your <a href="https://www.digitalocean.com/products/compute/">Droplet</a>. Six different flavors of Linux are selectable, and common apps are available preinstalled when your server is spun up. Conveniently enough, a <a href="https://www.digitalocean.com/products/one-click-apps/node-js/">Ubuntu and Node.js</a> config was good to go and able to be deployed in 55 seconds. <i>(*Instant Gratification)</i> </p>
<p></p>
<p>    This configuration gave me the advantage of skipping the installation of Node.js and giving me a well vetted linux distro, so I could worry less about configuring my linux server and jump right into installing my node packages and setting up my reverse proxy. </p>
<p><small>*NPM comes pre-installed with the current versions of Node.js, so <code>npm install -g &lt;node_packages&gt;</code> could be run out of the box. </small></p>
<p><small>I’ll skip the steps from initial root login on your server to setting up ssh for your newly defined user, but the steps are located here if you need a guide: <a href="https://www.digitalocean.com/community/tutorials/initial-server-setup-with-ubuntu-16-04">Initial Setup of Ubuntu 16.04</a>. </small></p>
<p><br></p>
<h4><b>  Installing Nginx</b></h4>
<p>    <b>Step 1: Install Nginx</b> </p>
  <ul>
    <li><code>sudo apt-get update</code></li>
    <li><code>sudo apt-get install nginx</code></li>
  </ul>
<p><br></p>
<p>    <b>Step 2: Adjust Firewall</b> </p>
<p><b>   </b> This allows Nginx HTTP connections to pass through your firewall. <small><i>(note: this only applies if you have enabled your firewall during your initial Ubuntu setup)</i></small> </p>
<ul>
  <li><code>sudo ufw allow 'Nginx HTTP’</code></li>
</ul>
<br>
<p>    <b>Step 3: Check Web Server</b> </p>
<ul>
  <li><code>systemctl status nginx</code></li>
</ul>
  <pre>
  <small>
    <code>nginx.service - A high performance web server and a reverse proxy server</code>
    <code>   Loaded: loaded (/lib/systemd/system/nginx.service; enabled; vendor preset: enabled)</code>
    <code>   Active: <mark>active (running)</mark> since Mon 2017-09-11 00:51:02 UTC; 1 weeks 2 days ago</code>
    <code>  Process: 14983 ExecStop=/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx.pid (code=exited, status=0/SUCCESS)</code>
    <code>  Process: 14992 ExecStart=/usr/sbin/nginx -g daemon on; master_process on; (code=exited, status=0/SUCCESS)</code>
    <code>  Process: 14988 ExecStartPre=/usr/sbin/nginx -t -q -g daemon on; master_process on; (code=exited, status=0/SUCCESS)</code>
    <code> Main PID: 14996 (nginx)</code>
    <code>    Tasks: 2</code>
    <code>   Memory: 3.2M</code>
    <code>      CPU: 8.789s</code>
    <code>   CGroup: /system.slice/nginx.service</code>
    <code>           ├─14996 nginx: master process /usr/sbin/nginx -g daemon on; master_process on</code>
    <code>           └─14997 nginx: worker process                        </code>
  </small>
  </pre>
<small><p><i>The Nginx service is started instantly upon installing, but to ensure your Nginx server always starts during boot, it is worthwhile to run the following command <code>sudo systemctl enable nginx</code></i></p></small>
<p><b>Step 4: Test your Web Server</b></p>
<p>    At this point, Nginx is running and with your firewall configured correctly, any request made to your server’s IP address (or registered Domain Name) will serve up the Nginx default landing page.  </p>
<p>    We’ll come back to our Nginx server a little later, but let’s get the pieces in place for our website to be served before we allow access via our reverse proxy set up. </p>
<p><br></p>
<h4><b>Build and Deploy from Webstorm</b></h4>
<p><b>       Step 1: Configure Deployment</b></p>
<p><b>           </b> Webstorm allows for easy deployment/synchronization to remote servers via it’s <a href="https://www.jetbrains.com/help/webstorm/creating-a-remote-server-configuration.html">Deployment Configuration</a> setup. It is a convenient tool for uploading files from your local computer to your remote server with the ability to Diff and Synchronize.  </p>
<ol>
  <li>Go to <b>Tools &gt; Deployment &gt; Configuration</b></li>
  <li>Add a new configuration by clicking the <strong>+</strong></li>
  <li>Select <a href="http://en.wikipedia.org/wiki/SFTP"><b>SFTP</b></a></li>
  <li>(Optional) Designate the scope of this Deployment Configuration to your choosing. I chose a scope of <b>Visible on to this project</b> and <b>Use as Default.</b></li>
</ol>
<p><br></p>
<p><b>    Step 2: Add Credentials</b></p>
<p><b>       </b>Since we should have already setup our SSH for our Ubuntu Server, we can use OpenSSH standard with our SFTP config for user authentication. </p>
<ol>
  <li>Use your Public IP address for your remote server in the <b>SFTP host</b> field.</li>
  <li><b></b><b>Port</b> should be <i>22</i></li>
  <li><b></b><b>Root Path</b> should be whatever your $HOME environment variable is on your remote server (note: this is only true if you are going to be adding your files under your users ~/ folder. Otherwise, you can make it whatever you’d like.)</li>
  <li><b></b><b>Username</b> should be your Ubuntu OS User that you set up SSH for.</li>
  <li>Pick <i>Key Pair (OpenSSH or Putty)</i> for <b>Auth Type.</b></li>
  <li><b></b><b>Private Key File</b> (located on your local machine) is typically under located at $HOME/.ssh/id_rsa</li>
  <li><b></b><b>Passphrase</b> is the same one used during SSH login to your remote server.</li>
  <li>Test the connection. Should be successfully</li>
</ol>
<p>    Now, we are ready to send files to our server.  </p>
<p>    I chose to build my production site locally and then deploy it so I didn’t have to globally install any CLI tools on my remote server. Also, my local machine packs a bit more power than my Ubuntu Droplet, which means faster compile times :) </p>
<p><br></p>
<p><b>    Step 3: Build Client via Angular CLI </b></p>
<p><b>     </b> The Angular CLI tool allows you to quickly compile your Angular 2 app via <a href="https://webpack.github.io/">Webpack</a>, and with just a few tweaks to the default Angular CLI configuration for our project, we can have our production ready files in a separate folder for easy deployment. <i>(Note: There are far more extensive webpack configurations you can setup, but for this tutorial, we’ll keep it simple and not dive into</i> <a href="https://angular.io/guide/webpack"><i>webpack</i></a> <i>config files.)</i> </p>
<ul>
  <li>In the root folder of your project, open the .angular-cli.json file. Change the “outDir” property to “dist” <small><i>(note: this is where we will be deploying our files from to our remote server. If you would like to dev build to output to a different directory, add —op [outputDirectory] when using ng build for development compiles) </i></small></li>
</ul>
  <pre>
    <code><b>"apps":</b> <b>[</b> </code>
    <code><b>        {</b></code>
    <code><b>             "root":</b> <b>"src”,  </b> </code>
    <code><b>             "outDir":</b> <b>"dist”,</b> </code>
    <code><b>             …</b></code>
  </pre>
<ul>
  <li><code>Run ng build —prod</code> <i>(or create a package.json script for future use)</i></li>
  <ul>
    <li>This will build our website in production mode, which among other things, optimizes our code via minifying, uglifying, and all-around bundling, which can help reduce file sizes and unnecessary, redundant code dependencies across Angular 2 Components (aka. Import statements).</li>
  </ul>
</ul>
<p><br></p>
<p>    <b>Step 4: Upload Bundled Files to Remote Server</b> </p>
<p><b>       </b> Since we’ve done the work upfront to setup our Remote Server configuration, simply right-click the output file “/dist” in the root of our project folder and find submenu “<i>Deployment</i>” and click "<i>Upload to &lt;ServerName&gt;</i>" (in my case: jeremydejno.com) </p>
<p>    Using our SFTP configuration, Webstorm will automagically upload this directory and all files under it into our <b>Root Path</b> specified earlier during our <b>Add Credentials Step. </b> </p>
<p><i>On remote server: </i>$HOME/jeremydejno.com/dist</p>
  <pre>
    <code>├── 3rdpartylicenses.txt </code>
    <code>├── assets </code>
    <code>│   ├── images </code>
    <code>│   │   ├── NY_Coffee.jpg </code>
    <code>│   │   ├── coffee-cup-cover.jpg </code>
    <code>│   │   ├── jake-jeremy-nyc.jpg </code>
    <code>│   │   ├── jeremy-profile-pic.jpeg </code>
    <code>│   │   ├── jeremy-profile-pic.png </code>
    <code>│   │   ├── kara-jeremy-dancing.jpg </code>
    <code>│   │   ├── kara-jeremy-xmas.jpg </code>
    <code>│   │   ├── projects </code>
    <code>│   │   │   ├── lifeline.png </code>
    <code>│   │   │   └── usa.png </code>
    <code>│   │   └── success-not-linear.gif </code>
    <code>│   └── resume.pdf </code>
    <code>├── favicon.ico </code>
    <code>├── glyphicons-halflings-regular.448c34a56d699c29117a.woff2 </code>
    <code>├── glyphicons-halflings-regular.89889688147bd7575d63.svg </code>
    <code>├── glyphicons-halflings-regular.e18bbf611f2a2e43afc0.ttf </code>
    <code>├── glyphicons-halflings-regular.f4769f9bdb7466be6508.eot </code>
    <code>├── glyphicons-halflings-regular.fa2772327f55d8198301.woff </code>
    <code>├── index.html </code>
    <code>├── inline.86812c72970153648172.bundle.js </code>
    <code>├── main.1668654ba9770e698f14.bundle.js </code>
    <code>├── polyfills.b1ff05c22cf7b813f54c.bundle.js </code>
    <code>├── scripts.6e15ab56f87a92defd7f.bundle.js </code>
    <code>├── styles.07f78813589955447e76.bundle.css </code>
    <code>└── vendor.b5e5461181cd9c3b2953.bundle.js </code>
    </pre>
<p>Files are ready to serve. Let’s get the Node Server in place to start dishing out our pristinely bundled files.  </p>
<p>    <b>Step 5: Upload our Node Server </b> </p>
<p><b>       </b> Assuming your node server requires no build/compiling, we can skip right to uploading the files using the same method as our client files.  </p>
<p><i>On remote server: </i>$HOME/jeremydejno.com/server</p>
  <pre>
    <code>├── app.js </code>
    <code>├── bin </code>
    <code>│   └── www </code>
    <code>├── package.json </code>
    <code>├── public </code>
    <code>│   ├── data </code>
    <code>│   │   ├── blog </code>
    <code>│   │   │   ├── posts </code>
    <code>│   │   │   │   ├── hosting-setup.html </code>
    <code>│   │   │   │   └── no-post-default.html </code>
    <code>│   │   │   └── posts.json </code>
    <code>│   │   └── projects </code>
    <code>│   │       ├── lifeline-data.csv </code>
    <code>│   │       ├── projects.json </code>
    <code>│   │       └── usa.json </code>
    <code>│   ├── images </code>
    <code>│   │   └── posts </code>
    <code>│   └── javascripts </code>
    <code>├── routes </code>
    <code>│   ├── blog </code>
    <code>│   │   └── posts.js </code>
    <code>│   └── projects </code>
    <code>│       └── projects.js </code>
    <code>└── views </code>
    <code>    ├── error.jade </code>
    <code>    └── layout.jade </code>
  </pre>
<p></p>
<p>    To get your node server to listen on the correct port and host, you can follow some of the suggestion I found while googling (<a href="https://stackoverflow.com/questions/10694571/verify-if-my-node-js-instance-is-dev-or-production">stackoverflow</a>, <a href="https://www.hacksparrow.com/running-express-js-in-production-mode.html">here</a>). I won’t go into it now, but finding a convenient way (via command line arguments or another way) to get process.env variables set will go a long way for easily starting your server in the intended mode. </p>
<p><br></p>
<h4><b>Start and Manage Node Server on Remote </b></h4>
<p>    The code we so diligently wrote is now compiled and in place for us to use on our Ubuntu Droplet. Let’s get it up and running before we allow public access to it.  </p>
<p>    <b>Step 1: Install PM2 </b> </p>
<p><b>       </b> PM2 allows for easy process management for Node applications. It pushes our processes that are running our node services into the background so they can run persistently and without locking up a foreground process. We can then check the status of our processes by using the <code>pm2 status</code> command. </p>
<p>    <code>sudo npm install -g pm2 </code></p>
<p><br></p>
<p>    <b>Step 2: Start the server</b> </p>
  <p>        Using the <code>pm2 start</code> command, we can start our node server.  </p>
  <p></p>
  <p>    <code>sudo pm2 start $HOME/server/bin/www</code></p>
  <pre>
    <code>[PM2] Applying action restartProcessId on app [www](ids: 0) </code>
    <code>[PM2] [www](0) ✓ </code>
    <code>[PM2] Process successfully started </code>
    <code>┌──────┬──────┬────────┬────┬─────┬────────┬   </code>
    <code>│ Name │ mode │ status │ ↺  │ cpu │ memory │  </code>
    <code>├──────┼──────┼────────┼────┼─────┼────────┼    </code>
    <code>│ www  │ fork │ online │ 15 │ 0%  │ 12.6 MB│    </code>
    <code>└──────┴──────┴────────┴────┴─────┴────────┴ </code>
   </pre>
  <p>    The node server will persistently run until we tell it to stop (or, it errors out) using the <code>pm2 stop [app-name]</code> command. </p>
<p><br></p>
<h4><b>Configure Nginx as Reverse Proxy</b></h4>
<p>    If our application folder structure, Droplet firewall, and node server configuration (aka. Prod vs. dev environment) are all set up correctly, the last step to let our site out to the world is to forward client requests made to our Nginx server on to our Node App server in a configuration called a <a href="https://en.wikipedia.org/wiki/Reverse_proxy">reverse proxy</a>. This places our Nginx server as a middleman for handling heavy loads of concurrent connections (if your site should ever need such handling!), while our Node server can do any dynamic processing or business logic required to serve the right content back.  </p>
<p>    For this last step, I will assume we are only attempting to serve one website from our Nginx server, which allows me to make a few simple edits to the default server block file located here: </p>
<pre>    /etc/nginx/sites-available/default  </pre>
<small><i>If you would like to see how multiple server blocks can be configured on a single Nginx server, you can check it out at </i><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-server-blocks-virtual-hosts-on-ubuntu-16-04"><i>How To Set Up Nginx Server Blocks (Virtual Hosts) on Ubuntu 16.04</i></a></small>
<p><br></p>
<p><i>   </i> <b>Step 1: Edit the default file</b> </p>
  <p><b>       </b> To stop sending the default Nginx landing page, we only need to make a few edits. (<code>sudo nano default</code>) </p>
<ul>
  <li> Comment out this line: <pre># root /var/www/html;</pre> <small>Since we are not directly serving our content with the Nginx server, we don’t need the root to show us where to find our “index.html”. Our Node server will take care of that.</small></li>
  <li>In the <code>location /</code> block make the following changes.</li>
</ul>
  <pre>
    <code>    location / { </code>
    <code>                # First attempt to serve request as file, then </code>
    <code>                # as directory, then fall back to displaying a 404. </code>
    <code>                # try_files $uri $uri/ =404; </code>
    <code>                proxy_pass http://localhost:<mark>8080</mark>; </code>
    <code>                proxy_http_version 1.1;                 </code>
    <code>                proxy_set_header Upgrade $http_upgrade;                 </code>
    <code>                proxy_set_header Connection 'upgrade’;    </code>
    <code>                proxy_set_header Host $host;                </code>
    <code>                proxy_cache_bypass $http_upgrade; </code>
    <code>        } </code>
  </pre>
<p>    *Our node server should be listening on the port designated in the <i>proxy_pass</i> line. Since the Nginx server is forwarding our client requests to our localhost, our Node server will pick up these forwarded requests. </p>
<p>    That’s it. Simple. </p>
<p>    <b>Step 2: Test Nginx Config and Restart it</b> </p>
<p><b>       </b> The changes made to the default file will not take effect until we restart the Nginx server, but first, let’s test our Nginx configuration for errors.  </p>
<p>       <code>sudo nginx -t </code></p> 
<small>If we are all clear, restart the Nginx server and test in your local browser </small>
<p>       <code>sudo systemctl restart nginx </code></p>
<p>    In your local browser either use your Registered Domain Name for your site (aka. jeremydejno.com) or the public IP address of your Ubuntu Server. If all has been done correctly, we should see the beautiful website served.  </p>
<p><br></p>
<h4><b>Wrapping Up</b></h4>
<p>    Congratulations, we made it. And, now a new beautiful website is open to the world wide web for all to see. </p>
<p>    The best part, we handled all of the configuration ourselves and learned a lot in the process. And, even better, there is more than one way to do it. </p>
</div>

