//
   Created by jeremydejno on 8/24/17.

.post(*ngIf="post", [@expand]="expanded")
  button.btn.btn-xs.pull-right.draw-border((click)="collapse()", style={"margin-top": "8px", "margin-right": "8px"}) close
  .row
    .col-lg-6.col-md-6.col-sm-10.col-xs-10.col-lg-offset-3.col-md-offset-3.col-sm-offset-1.col-xs-offset-1
      .text-center(style={"padding-bottom": "20px"})
        h1 {{post.title}}
      .post-content([innerHTML]="post.content")






