<!--Created by jeremydejno on 9/1/17.--><div class="text-center" *ngIf="project &amp;&amp; project.data"><h2>{{project.data.title}}</h2><p>{{project.data.description}}</p></div><div class="row" [@fadeIn]="fadeInProject"><ng-template appProjectHost=""></ng-template></div>