//
   Created by jeremydejno on 9/1/17.
.text-center(*ngIf="project && project.data")
  h2 {{project.data.title}}
  p {{project.data.description}}
.row([@fadeIn]="fadeInProject")
  ng-template(appProjectHost="")
