.row {
  padding-top: 53px;
}

.btn.btn-xs {
  margin: 0 5px 5px 5px;
}

.posts-container {
  overflow-y: hidden;
  margin-bottom: 20px;
}

@media (max-width: 768px) {

  .categories {
    display: none;
  }

}
