//
   Created by jeremydejno on 8/8/17.


.container-fluid
  .row
    .text-center(style="padding-bottom: 20px;")
      h1 Blog
    .col-lg-offset-3.col-lg-6.col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8.col-xs-offset-2.col-xs-8
      .posts-container(*ngFor="let post of posts", [@collapsePost]="post.expanded")
        app-post-thumbnail([post]="post", [expanded]="post.expanded")
    .categories.col-lg-offset-1.col-lg-2.col-md-2.col-sm-2.text-center
      h4.title Categories
      .text-primary
        p(*ngFor="let cat of categories")
          a((click)="filterPostsByCat($event)",
            [attr.data-category]="cat",
            href="javascript:void(0)") {{cat}}
      #current-category.row(*ngIf="filterCategories.size > 0")
        h5 Filter Criteria:
        button.btn.btn-xs.btn-default(*ngFor="let filterCat of filterCategories",
                                  [attr.data-category]="filterCat",
                                  (click)="clearPostCategoryFilter($event)")
          small| x
          |  {{filterCat}}

router-outlet

