.jumbotron {
  height: 600px;
  background-image: url(/../../../assets/images/coffee-cup-cover.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  overflow-y: hidden;


  h1, h2, h3, small {
    color: ghostwhite;
  }

  .btn-default {
    background-color: transparent;
    background-image: none;
    text-shadow: none;
    color: lightgrey;
    border-top-color: transparent;
    border-bottom-color: transparent;
    box-shadow: none;
  }

  .btn-default:hover {
    border-top-color: lightgrey;
    border-bottom-color: lightgrey;
    box-shadow: inherit;

  }

}




