//
   Created by jeremydejno on 7/13/17.

#header.jumbotron([@fadeIn]="true", [@blurIn]="true", #header="")
  .container-fluid
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12([@fadeIn]="true")
        div#header-img-anchor
        .text-center
          h3(style="padding-bottom: 20px") A Coding Playground Site. Join me in learning.
          .center-block
            .btn-group-sm
              button.header-button.btn.btn-default(style="margin-right: 20px") Contact
              button.header-button.btn.btn-default((click)="toggleResumePDF()") Resume

#resume.center-block.container-fluid([@expandHeight]="resumeAnimate", #resume="", style="overflow-y: hidden; height: 1200px;",
    (@expandHeight.done)="navigateToResume($event)")
  button.btn.btn-xs.btn-default.pull-right((click)="toggleResumePDF()") close
  embed(src="/assets/resume.pdf", height="1200", width="95%", type="application/pdf")
