/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: "Saira Extra Condensed", sans-serif;
}

/*region Global Tooltip*/

/*Tooltip via Attribute of [data-tooltip-content]*/
a[data-tooltip-content] {
  display: inline-block;/*bug fix*/
  position: relative;
  text-decoration: none;
}
a[data-tooltip-content]:after {
  content: attr(data-tooltip-content);
  position: absolute;
  bottom: 130%;
  left: -100%;
  background: #ffcb66;
  padding: 5px 15px;
  color: black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a[data-tooltip-content]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 20px solid #ffcb66;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  left: -90%;
  bottom: 90%;
}
a[data-tooltip-content]:hover:after {
  bottom: 130%;
}
a[data-tooltip-content]:hover:before {
  bottom: 90%;
}
a[data-tooltip-content]:hover:after,
a[data-tooltip-content]:hover:before {
  opacity: .8;
}

/*endregion*/
