p {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

a:visited {
   text-decoration: none;
 }

.bio-snippet {
  p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }
}

.alt-row {
  background-color: #f9f9f9;
}

.site-about-inner {
  padding-top: 30px;
  padding-bottom: 50px;
}
